<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/fabio-mangione.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container" style="padding-top: 100px;">


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<div class="row">
    <div *ngFor="let promo of promos" class="col-md-3">
        <div class="card card-block" style="text-align: center;">
            <img class="card-img-top" data-src="holder.js/100px180/" alt="{{promo.name}}" src="{{promo.pictures[0]}}" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
            <div class="card-body">
              <h4 class="card-title">{{promo.name}}</h4>
                <ul class="list-group list-group-flush">
                <li *ngFor="let item of promo.items" class="list-group-item"><a href="#">{{item.name}}</a></li>
              </ul>
              <br/>
              <a (click)="view(promo)" class="btn btn-danger">View</a>
            </div>
        </div>
    </div>
 </div>
        </div>
    </div>
</div>
