<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/fabio-mangione.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container" style="padding-top: 100px;">


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<div class="row">
    <div *ngFor="let promo of promos" class="col-md-3">
        <div class="card card-block" style="text-align: center;">
            <img class="card-img-top" data-src="holder.js/100px180/" alt="{{promo.name}}" src="{{promo.pictures[0]}}" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
            <div class="card-body">
              <h4 class="card-title">{{promo.name}}</h4>
              <star-rating [starType]="'svg'" [readOnly]="true" [showHalfStars]="true" [step]="0.5" [labelText]="promo.rating" [labelPosition]="'right'" [rating]="promo.rating"></star-rating>
              <span>&#x20b1;{{promo.price}}/{{promo.per}}</span>
              <br />
              <br />
              <p class="card-text">
                {{promo.description}}
              </p>
               <!-- <ul class="list-group list-group-flush">
                <li *ngFor="let item of promo.items" class="list-group-item"><a href="#">{{item.name}}</a></li>
              </ul> -->
              <a (click)="view(promo)" class="btn  btn-outline-danger">View</a>
            </div>
        </div>
    </div>
 </div>
        </div>
    </div>
</div>
