

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">

<div class="section" id="carousel">
    <div class="container">
        <div class="tim-title">
   
        </div>
        <div class="row">
			<ngb-carousel>
			  <ng-template ngbSlide>
			    <div class="row">
                          <div class="col-xs-4 col-sm-4 col-md-4">
					        <a href="#" onclick=abc(this) class="slider_info">
					          <img class="img-fluid card-img-top" src="assets/img/imgs/woman2.jpg">
					          <div class="card-img-overlay t_img">
					            <div class="col-md-6 text-warning">
					                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
					            </div>
					          </div>
					          <button class="btn btn-info btn-block btn-round">hire me</button>
					        </a>
					        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nesciunt quam obcaecati maiores atque labore fugiat tenetur tempore veritatis temporibus!</p>

					      </div>
					      <div class="col-xs-4 col-sm-4 col-md-4">
					        <a href="#" onclick=abc(this) class="slider_info">
					          <img class="img-fluid card-img-top" src="assets/img/imgs/woman3.jpg">
					          <div class="card-img-overlay t_img">
					            <div class="col-md-6 text-warning">
					                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
					            </div>
					          </div>
					          <button class="btn btn-info btn-block btn-round">hire me</button>
					        </a>
					        <p>
					          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nesciunt quam obcaecati maiores atque labore fugiat tenetur tempore veritatis temporibus!
					        </p>

					      </div>
					      <div class="col-xs-4 col-sm-4 col-md-4">
					        <a href="#" onclick=abc(this) class="slider_info">
					          <img class="img-fluid card-img-top" src="assets/img/imgs/inspired.jpg">
					          <div class="card-img-overlay t_img">
					            <div class="col-md-6 text-warning">
					                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
					            </div>
					          </div>
					          <button class="btn btn-info btn-block btn-round">hire me</button>
					        </a>
					        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nesciunt quam obcaecati maiores atque labore fugiat tenetur tempore veritatis temporibus!</p>

					      </div>
						</div>
			  </ng-template>
			  <ng-template ngbSlide>
			  	<div class="row">
			  	 <div class="col-xs-4 col-sm-4 col-md-4">
					        <a href="#" onclick=abc(this) class="slider_info">
					          <img class="img-fluid card-img-top" src="assets/img/imgs/58d02f04e94a92.36391789B0vFq3YCMAAIk8c.jpg">
					          <div class="card-img-overlay t_img">
					            <div class="col-md-6 text-warning">
					                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
					            </div>
					            
					          </div>
					          
					          <button href="map.html" class="btn btn-info btn-block btn-round">hire me</button>

					        </a>
					        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nesciunt quam obcaecati maiores atque labore fugiat tenetur tempore veritatis temporibus!</p>

					      </div>
					      <div class="col-xs-4 col-sm-4 col-md-4">
					        <a href="#" onclick=abc(this) class="slider_info">
					          <img class="img-fluid card-img-top rounded-bottom" src="assets/img/imgs/5964850-anime-girl.jpg">
					          <div class="card-img-overlay t_img">
					            <div class="col-md-6 text-warning">
					                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
					            </div>
					          </div>
					          <button class="btn btn-info btn-block btn-round">hire me</button>
					        </a>
					        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nesciunt quam obcaecati maiores atque labore fugiat tenetur tempore veritatis temporibus!</p>

					      </div>
					      <div class="col-xs-4 col-sm-4 col-md-4">
					        <a href="#" onclick=abc(this) class="slider_info">
					          <img class="img-fluid card-img-top rounded-bottom" src="assets/img/imgs/Businessman-HD-Photo.jpg">
					          <div class="card-img-overlay t_img">
					            <div class="col-md-6 text-warning">
					                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
					            </div>
					          </div>
					          <button class="btn btn-info btn-block btn-round">hire me</button>
					        </a>
					        <p>
					          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nesciunt quam obcaecati maiores atque labore fugiat tenetur tempore veritatis temporibus!
					        </p>
					      </div>
					  </div>
			  </ng-template>
			  <ng-template ngbSlide>
			  	<div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4">
						        <a href="#" onclick=abc(this) class="slider_info">
						          <img class="img-fluid card-img-top" src="assets/img/imgs/man3.png">
						          <div class="card-img-overlay t_img">
						            <div class="col-md-6 text-warning">
						                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
						            </div>
						          </div>
						          <button class="btn btn-info btn-block btn-round">hire me</button>
						        </a>
						        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nesciunt quam obcaecati maiores atque labore fugiat tenetur tempore veritatis temporibus!</p>

						      </div>
						      <div class="col-xs-4 col-sm-4 col-md-4">
						        <a href="#" onclick=abc(this) class="slider_info">
						          <img class="img-fluid card-img-top" src="assets/img/imgs/man2.png">
						          <div class="card-img-overlay t_img">
						            <div class="col-md-6 text-warning">
						                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
						            </div>
						          </div>
						          <button class="btn btn-info btn-block btn-round">hire me</button>
						        </a>
						        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nesciunt quam obcaecati maiores atque labore fugiat tenetur tempore veritatis temporibus!</p>

						      </div>
						      <div class="col-xs-4 col-sm-4 col-md-4">
						        <a href="#" onclick=abc(this) class="slider_info">
						          <img class="img-fluid card-img-top" src="assets/img/imgs/woman4.jpg">
						          <div class="card-img-overlay t_img">
						            <div class="col-md-6 text-warning">
						                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
						            </div>
						          </div>
						          <button class="btn btn-info btn-block btn-round">hire me</button>
						        </a>
						        <p>
						          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nesciunt quam obcaecati maiores atque labore fugiat tenetur tempore veritatis temporibus!
						        </p>

						      </div>
						  </div>
			  </ng-template>
			</ngb-carousel>
		</div>
	</div>
</div>




<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  -->
<!------ Include the above in your HEAD tag ---------->

<!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous"> -->

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script> -->

<!-- <h1>Bootstrap 4 carousel with description</h1>
<div class="container">
  
  <div id="demo" >  -->

  <!-- Indicators -->
  
<!-- 





<div class="section" id="carousel">
    <div class="container">
        <div class="tim-title">
   
        </div>
        <div class="row">
            <div class="">
                <div class="">
                    <ngb-carousel>
                        <ng-template ngbSlide>
                        	<div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4">
					        <a href="#" onclick=abc(this) class="slider_info">
					          <img class="img-fluid card-img-top" src="assets/img/imgs/58d02f04e94a92.36391789B0vFq3YCMAAIk8c.jpg">
					          <div class="card-img-overlay t_img">
					            <div class="col-md-6 text-warning">
					                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
					            </div>
					            
					          </div>
					          
					          <button href="map.html" class="btn btn-info btn-block btn-round">hire me</button>

					        </a>
					        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nesciunt quam obcaecati maiores atque labore fugiat tenetur tempore veritatis temporibus!</p>

					      </div>
					      <div class="col-xs-4 col-sm-4 col-md-4">
					        <a href="#" onclick=abc(this) class="slider_info">
					          <img class="img-fluid card-img-top rounded-bottom" src="assets/img/imgs/5964850-anime-girl.jpg">
					          <div class="card-img-overlay t_img">
					            <div class="col-md-6 text-warning">
					                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
					            </div>
					          </div>
					          <button class="btn btn-info btn-block btn-round">hire me</button>
					        </a>
					        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nesciunt quam obcaecati maiores atque labore fugiat tenetur tempore veritatis temporibus!</p>

					      </div>
					      <div class="col-xs-4 col-sm-4 col-md-4">
					        <a href="#" onclick=abc(this) class="slider_info">
					          <img class="img-fluid card-img-top rounded-bottom" src="assets/img/imgs/Businessman-HD-Photo.jpg">
					          <div class="card-img-overlay t_img">
					            <div class="col-md-6 text-warning">
					                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
					            </div>
					          </div>
					          <button class="btn btn-info btn-block btn-round">hire me</button>
					        </a>
					        <p>
					          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nesciunt quam obcaecati maiores atque labore fugiat tenetur tempore veritatis temporibus!
					        </p>
					      </div>
					  	</div>
                        </ng-template>
                        <ng-template ngbSlide>
                        	<div class="row">
                                  <div class="col-xs-4 col-sm-4 col-md-4">
							        <a href="#" onclick=abc(this) class="slider_info">
							          <img class="img-fluid card-img-top" src="assets/img/imgs/woman2.jpg">
							          <div class="card-img-overlay t_img">
							            <div class="col-md-6 text-warning">
							                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
							            </div>
							          </div>
							          <button class="btn btn-info btn-block btn-round">hire me</button>
							        </a>
							        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nesciunt quam obcaecati maiores atque labore fugiat tenetur tempore veritatis temporibus!</p>

							      </div>
							      <div class="col-xs-4 col-sm-4 col-md-4">
							        <a href="#" onclick=abc(this) class="slider_info">
							          <img class="img-fluid card-img-top" src="assets/img/imgs/woman3.jpg">
							          <div class="card-img-overlay t_img">
							            <div class="col-md-6 text-warning">
							                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
							            </div>
							          </div>
							          <button class="btn btn-info btn-block btn-round">hire me</button>
							        </a>
							        <p>
							          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nesciunt quam obcaecati maiores atque labore fugiat tenetur tempore veritatis temporibus!
							        </p>

							      </div>
							      <div class="col-xs-4 col-sm-4 col-md-4">
							        <a href="#" onclick=abc(this) class="slider_info">
							          <img class="img-fluid card-img-top" src="assets/img/imgs/inspired.jpg">
							          <div class="card-img-overlay t_img">
							            <div class="col-md-6 text-warning">
							                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
							            </div>
							          </div>
							          <button class="btn btn-info btn-block btn-round">hire me</button>
							        </a>
							        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nesciunt quam obcaecati maiores atque labore fugiat tenetur tempore veritatis temporibus!</p>

							      </div>
						</div>
                        </ng-template>
                        <ng-template ngbSlide>
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4">
						        <a href="#" onclick=abc(this) class="slider_info">
						          <img class="img-fluid card-img-top" src="assets/img/imgs/man3.png">
						          <div class="card-img-overlay t_img">
						            <div class="col-md-6 text-warning">
						                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
						            </div>
						          </div>
						          <button class="btn btn-info btn-block btn-round">hire me</button>
						        </a>
						        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nesciunt quam obcaecati maiores atque labore fugiat tenetur tempore veritatis temporibus!</p>

						      </div>
						      <div class="col-xs-4 col-sm-4 col-md-4">
						        <a href="#" onclick=abc(this) class="slider_info">
						          <img class="img-fluid card-img-top" src="assets/img/imgs/man2.png">
						          <div class="card-img-overlay t_img">
						            <div class="col-md-6 text-warning">
						                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
						            </div>
						          </div>
						          <button class="btn btn-info btn-block btn-round">hire me</button>
						        </a>
						        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nesciunt quam obcaecati maiores atque labore fugiat tenetur tempore veritatis temporibus!</p>

						      </div>
						      <div class="col-xs-4 col-sm-4 col-md-4">
						        <a href="#" onclick=abc(this) class="slider_info">
						          <img class="img-fluid card-img-top" src="assets/img/imgs/woman4.jpg">
						          <div class="card-img-overlay t_img">
						            <div class="col-md-6 text-warning">
						                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
						            </div>
						          </div>
						          <button class="btn btn-info btn-block btn-round">hire me</button>
						        </a>
						        <p>
						          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nesciunt quam obcaecati maiores atque labore fugiat tenetur tempore veritatis temporibus!
						        </p>

						      </div>
						</div>
                        </ng-template>
                    </ngb-carousel>
                </div>
            </div>
        </div>
    </div>
</div>









  
</div>
</div>
 -->