
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">

<div class="wrapper">
	<div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/fabio-mangione.jpg');">
		<div class="filter"></div>
	</div>
	<div class="section profile-content">
		<div class="container" style="padding-top: 100px;">
			<div class="row">
				<div #gmap style="width:100%;height:400px"></div>
			</div>
			<!-- <div id="map" style="width:100%;height:400px;"></div> -->
		</div>
	</div>
</div>


<div class="row" id="carousel">
    <div class="container">
        <div class="row">
			<ngb-carousel>
			  <ng-template ngbSlide>
			    <div class="row carousel-inner">
                          <div class="col-xs-4 col-sm-4 col-md-4">
					        <a href="#" onclick=abc(this) class="slider_info">
					          <img class="img-fluid card-img-top" src="assets/img/imgs/woman2.jpg">
					          <div class="card-img-overlay t_img">
					            <div class="col-md-6 text-warning">
					                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
					            </div>
					          </div>
					          <button class="btn btn-info btn-block btn-round">hire me</button>
					        </a>
					        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nesciunt quam obcaecati maiores atque labore fugiat tenetur tempore veritatis temporibus!</p>

					      </div>
					      <div class="col-xs-4 col-sm-4 col-md-4">
					        <a href="#" onclick=abc(this) class="slider_info">
					          <img class="img-fluid card-img-top" src="assets/img/imgs/woman3.jpg">
					          <div class="card-img-overlay t_img">
					            <div class="col-md-6 text-warning">
					                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
					            </div>
					          </div>
					          <button class="btn btn-info btn-block btn-round">hire me</button>
					        </a>
					        <p>
					          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nesciunt quam obcaecati maiores atque labore fugiat tenetur tempore veritatis temporibus!
					        </p>

					      </div>
					      <div class="col-xs-4 col-sm-4 col-md-4">
					        <a href="#" onclick=abc(this) class="slider_info">
					          <img class="img-fluid card-img-top" src="assets/img/imgs/inspired.jpg">
					          <div class="card-img-overlay t_img">
					            <div class="col-md-6 text-warning">
					                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
					            </div>
					          </div>
					          <button class="btn btn-info btn-block btn-round">hire me</button>
					        </a>
					        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nesciunt quam obcaecati maiores atque labore fugiat tenetur tempore veritatis temporibus!</p>

					      </div>
						</div>
			  </ng-template>
			  <ng-template ngbSlide>
			  	<div class="row">
			  	 <div class="col-xs-4 col-sm-4 col-md-4">
					        <a href="#" onclick=abc(this) class="slider_info">
					          <img class="img-fluid card-img-top" src="assets/img/imgs/58d02f04e94a92.36391789B0vFq3YCMAAIk8c.jpg">
					          <div class="card-img-overlay t_img">
					            <div class="col-md-6 text-warning">
					                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
					            </div>
					            
					          </div>
					          
					          <button href="map.html" class="btn btn-info btn-block btn-round">hire me</button>

					        </a>
					        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nesciunt quam obcaecati maiores atque labore fugiat tenetur tempore veritatis temporibus!</p>

					      </div>
					      <div class="col-xs-4 col-sm-4 col-md-4">
					        <a href="#" onclick=abc(this) class="slider_info">
					          <img class="img-fluid card-img-top rounded-bottom" src="assets/img/imgs/5964850-anime-girl.jpg">
					          <div class="card-img-overlay t_img">
					            <div class="col-md-6 text-warning">
					                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
					            </div>
					          </div>
					          <button class="btn btn-info btn-block btn-round">hire me</button>
					        </a>
					        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nesciunt quam obcaecati maiores atque labore fugiat tenetur tempore veritatis temporibus!</p>

					      </div>
					      <div class="col-xs-4 col-sm-4 col-md-4">
					        <a href="#" onclick=abc(this) class="slider_info">
					          <img class="img-fluid card-img-top rounded-bottom" src="assets/img/imgs/Businessman-HD-Photo.jpg">
					          <div class="card-img-overlay t_img">
					            <div class="col-md-6 text-warning">
					                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
					            </div>
					          </div>
					          <button class="btn btn-info btn-block btn-round">hire me</button>
					        </a>
					        <p>
					          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nesciunt quam obcaecati maiores atque labore fugiat tenetur tempore veritatis temporibus!
					        </p>
					      </div>
					  </div>
			  </ng-template>
			  <ng-template ngbSlide>
			  	<div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4">
						        <a href="#" onclick=abc(this) class="slider_info">
						          <img class="img-fluid card-img-top" src="assets/img/imgs/man3.png">
						          <div class="card-img-overlay t_img">
						            <div class="col-md-6 text-warning">
						                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
						            </div>
						          </div>
						          <button class="btn btn-info btn-block btn-round">hire me</button>
						        </a>
						        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nesciunt quam obcaecati maiores atque labore fugiat tenetur tempore veritatis temporibus!</p>

						      </div>
						      <div class="col-xs-4 col-sm-4 col-md-4">
						        <a href="#" onclick=abc(this) class="slider_info">
						          <img class="img-fluid card-img-top" src="assets/img/imgs/man2.png">
						          <div class="card-img-overlay t_img">
						            <div class="col-md-6 text-warning">
						                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
						            </div>
						          </div>
						          <button class="btn btn-info btn-block btn-round">hire me</button>
						        </a>
						        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nesciunt quam obcaecati maiores atque labore fugiat tenetur tempore veritatis temporibus!</p>

						      </div>
						     <div class="col-xs-4 col-sm-4 col-md-4">
						        <a href="#" onclick=abc(this) class="slider_info">
						          <img class="img-fluid card-img-top" src="assets/img/imgs/woman4.jpg">
						          <div class="card-img-overlay t_img">
						            <div class="col-md-6 text-warning">
						                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
						            </div>
						          </div>
						          <button class="btn btn-info btn-block btn-round">hire me</button>
						        </a>
						        <p>
						          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nesciunt quam obcaecati maiores atque labore fugiat tenetur tempore veritatis temporibus!
						        </p>

									</div> 
						  </div>
			  </ng-template>
			</ngb-carousel>

		</div>
	</div>
</div>

<!-- <script>
	function showPosition(position) {
				
				var mapOptions = {
				center: new google.maps.LatLng(position.coords.latitude, position.coords.longitude), zoom: 18
			};
			var map = new google.maps.Map(mapCanvas, mapOptions);
		
		}
		function myMap() {
			
		
			var mapCanvas = document.getElementById("map");
			navigator.geolocation.getCurrentPosition(showPosition);
		}
		
</script> -->